.pagination_container {
    display: flex;
    gap: 1rem;
}

.pagination_container button {
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: transparent;
    font-size: 1.7rem;
    border: 1.5px solid black;
    cursor: pointer;
}

.pagination_container button:hover {
    background-color: #9fb0e8;
    color: white;
}

.pagination_container button:first-child,
.pagination_container button:last-child {
    padding-inline: 1.5rem;
}

.pagination_container button.active {
    color: white;
    background-color: #002ac4;
    cursor: auto;
    border-color: #002ac4;
}

.pagination_container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
    color: #666;
    border: transparent;
}

@media (max-width: 520px) {
    .pagination_container button {
        padding: 0.8rem;
        font-size: 1.5rem;
    }

    .pagination_container button:first-child,
    .pagination_container button:last-child {
        padding-inline: 1rem;
    }
}
